* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.TopofthePage {
  padding: 11px;
}

.headerNavigation {
  width: 1519.2px;
  height: 72px;

  display: flex;
  justify-content: center;
}
.etsyheader {
  color: #f1651f;
}

input {
  margin-right: 5px;
  width: 1079.2px;
  height: 48px;
  border-radius: 20px;
}

button.login {
}

.Whiskey-Menu {
  display: flex;
  flex-direction: column;
}

ul.topMenu-navigation-container {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 18px;
}
.thirdmenu {
  padding: 0px;
  margin: 0px;
}

a:link {
  text-decoration: none;
  color: black;
}

ul.whiskey.sub.menu {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-weight: bold;
  padding: 0;
}

li.sub {
  width: 125.98px;
  height: 42px;
  text-align: center;
  background-color: #f99468;
  border-radius: 20px;
  padding: 11px;
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

input#shipping {
  width: 18px;
  height: 18px;
}

input#sale {
  width: 18px;
  height: 18px;
}

input#personalize {
  width: 18px;
  height: 18px;
}

input#Ready {
  width: 18px;
  height: 18px;
}

input#Ready1 {
  width: 18px;
  height: 18px;
}

div.grid-container {
  display: flex;
  justify-content: flex-start;
}
